body {
  height: 100vh;
}

#content {
  height: 97.5%;
}

.home-background {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/pexels-fauxels-3184183.jpg");
  background-size: cover;
}

.about-content,
.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content h1,
.home-content h1 {
  font-size: 5rem;
  color: white;
}

.about-background {
  background-color: #eeeeee;
}

.about-content h1 {
  color: black;
}
